<html lang='en' xmlns:th='http://www.thymeleaf.org'>
<head>
    <link rel='stylesheet' th:href='@{/css/grapes.min.css}'>
    <script th:src='@{/js/grapes.min.js}'></script>
    <script th:src='@{/js/grapesjs-blocks-basic.min.js}'></script>
    <script th:src='@{/js/grapesjs-plugin-export.min.js}'></script>
    <script th:src='@{/js/ezapp-plugin-ajax.min.js}'></script>
    <script th:src='@{/js/jquery-3.3.1.min.js}'></script>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }
    </style>
</head>

<body>
<div id="gjs" style="height:0px; overflow:hidden"></div>

<script type="text/javascript">
    var editor = grapesjs.init({
        height: '100%',
        showOffsets: 1,
        noticeOnUnload: 0,
        storageManager: {autoload: 0},
        container: '#gjs',
        fromElement: true,

        plugins: ['ezapp-plugin-ajax', 'gjs-blocks-basic', 'gjs-plugin-export'],
        pluginsOpts: {
            'get-remote-data': {},
            'gjs-plugin-export': {
                btnLabel: 'EXPORT',
                preHtml: `
                <!doctype><html><head>
                <link rel="stylesheet" href="./css/style.css">
                </head><body>
                `
            }
        },
        canvas: {
            styles: ['css/weui.min.css'],
            scripts: ['js/jquery-3.3.1.min.js']
        }
    });
    window.editor = editor;

    editor.Commands.add('canvas-clear', function() {
        if(confirm('Areeee you sure to clean the canvas?')) {
            var comps = editor.DomComponents.clear();
            setTimeout(function(){ localStorage.clear()}, 0)
        }
    });

    var pn = editor.Panels;
    pn.addButton('options', {
        id: 'open-info',
        className: 'fa fa-trash',
        command: function () {editor.runCommand('canvas-clear')},
        attributes: {
            'title': 'About',
            'data-tooltip-pos': 'bottom',
        },
    });
</script>
</body>