<html lang='zh' xmlns:th='http://www.thymeleaf.org'>
<head>
    <link rel='stylesheet' type="text/css" href="http://cdn.ezappx.com/css/grapes.min.css">
    <link rel='stylesheet' type="text/css" href="http://cdn.ezappx.com/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/designer.css}"/>

    <script src="http://cdn.ezappx.com/js/grapes.min.js"></script>
    <script src="http://cdn.ezappx.com/js/jquery-3.3.1.min.js"></script>
    <script src="http://cdn.ezappx.com/js/popper.min.js"></script>
    <script src="http://cdn.ezappx.com/js/bootstrap.min.js"></script>

    <script src="http://cdn.ezappx.com/js/grapesjs-blocks-basic.min.js"></script>
    <script src="http://cdn.ezappx.com/js/ezapp-plugin-ajax.min.js"></script>
    <script src="http://cdn.ezappx.com/js/ezapp-plugin-export.min.js"></script>
    <script src="http://cdn.ezappx.com/js/ezapp-plugin-weui.min.js"></script>
    <script src="http://cdn.ezappx.com/js/ezapp-plugin-toolbar.min.js"></script>
    <title>Ezappx</title>
</head>

<body>
<div id="gjs"></div>
<div id="tip"></div>

<script type="text/javascript" th:inline="javascript">
    const editor = grapesjs.init({
        height: '100%',
        showOffsets: 1,
        noticeOnUnload: 0,
        storageManager: {
            id: 'gjs-',
            type: 'local',
            autosave: true,
            autoload: true,
            stepBeforeSave: 1
        },
        container: '#gjs',
        fromElement: true,
        plugins: [
            'ezapp-plugin-ajax',
            'gjs-blocks-basic',
            'ezapp-plugin-export',
            'ezapp-plugin-weui',
            'ezapp-plugin-toolbar'],
        pluginsOpts: {
            'ezapp-plugin-export': {
                tipDivId: 'tip',
                username: /*[[${username}]]*/ 'default-user',
                projectName: /*[[${username}]]*/ 'default-project',
                uploadApi: '/upload/projectFile',
                exportApi: '/export/mobileAppProject'
            },
            'ezapp-plugin-toolbar': {
                tipDivId: 'tip',
            }
        },

        canvas: {
            styles: ['http://cdn.ezappx.com/css/weui.min.css'],
            scripts: ['http://cdn.ezappx.com/js/jquery-3.3.1.min.js'],
        },

        assetManager: {
            upload: /*[[${uploadApi}]]*/ 0,
            uploadName: 'files',
            params: {
                'username': /*[[${username}]]*/ 'default-user',
                'projectName': /*[[${username}]]*/ 'default-project'
            }
        },

        deviceManager: {
            devices: [],
        }
    });
    window.editor = editor;
</script>
</body>