<html lang='en' xmlns:th='http://www.thymeleaf.org'>
<head>
    <link rel='stylesheet' href="http://cdn.ezappx.com/css/grapes.min.css">
    <script src="http://cdn.ezappx.com/js/grapes.js"></script>
    <script src="http://cdn.ezappx.com/js/jquery-3.3.1.min.js"></script>
    <script src="http://cdn.ezappx.com/js/grapesjs-blocks-basic.min.js"></script>

    <script src="http://cdn.ezappx.com/js/ezapp-plugin-ajax.min.js"></script>
    <script src="http://cdn.ezappx.com/js/ezapp-plugin-export.min.js"></script>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }
    </style>
    <title>Ezappx</title>
</head>

<body>
<div id="gjs" style="height:0px; overflow:hidden"></div>

<script type="text/javascript" th:inline="javascript">
    let editor = grapesjs.init({
        height: '100%',
        showOffsets: 1,
        noticeOnUnload: 0,
        storageManager: {
            autoload: true
        },
        container: '#gjs',
        fromElement: true,

        plugins: ['ezapp-plugin-ajax', 'gjs-blocks-basic', 'ezapp-plugin-export'],
        pluginsOpts: {
            'ezapp-plugin-export': {
                username: /*[[${username}]]*/ 'test-user'
            }
        },
        canvas: {
            styles: ['http://cdn.ezappx.com/css/weui.min.css'],
            scripts: ['http://cdn.ezappx.com/js/jquery-3.3.1.min.js']
        }
    });
    window.editor = editor;

    editor.Commands.add('canvas-clear', function () {
        if (confirm('确认清除画布?')) {
            editor.DomComponents.clear();
            setTimeout(function () {
                localStorage.clear()
            }, 0)
        }
    });

    let pn = editor.Panels;
    pn.addButton('options', {
        id: 'clean-canvas',
        className: 'fa fa-trash',
        command: function () {
            editor.runCommand('canvas-clear')
        },
        attributes: {
            'title': '清空画布',
            'data-tooltip-pos': 'bottom',
        },
    });

    pn.addButton('options', {
        id: 'user-logout',
        className: 'fa fa-sign-out',
        command: function () {
            console.log("logout");
            location.href = "/logout";
        },
        attributes: {
            'title': '注销',
            'data-tooltip-pos': 'bottom',
        },
    });


    let deviceManager = editor.DeviceManager;
    deviceManager.add('Android', '300px', {
        height: '600px',
        width: '300px'
    });
    editor.setDevice('Android');

    window.editor = editor;
</script>
</body>